body{
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
     margin-bottom: 350px;
}
#calculator{
 font-family: Arial,  sans-serif;
 background-color: #d9d9d9;
 width: 500px;
 height: 750px;
 margin-top: 400px;
 border-radius: 10px;

}
#display{
    box-sizing: border-box;
    width: 455px;
    margin: 15px;
    margin-left: 20px;
    font-size: 48px;
    text-align:right;
    border: none;
    border-radius: 10px;
    background-color: #333333;
    color: white;

    padding: 26px;
}
#cal_btn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    grid-template-rows: 1.5fr  ;
    padding-left: 25px;
    padding-top: 40px;
    grid-row-gap: 20px;
}

button{
    width: 80px;
    height: 90px;
    border-radius: 13px;
    border: none;
    background-color: #777777;
    color: white;
    font-size: 48px;
    cursor: pointer;
}
.op-btn{
    background-color:#ff9500;
}
.clear{
    background-color: #ff0000;
    margin-left:400px;
    margin-top: 10px;
    height: 100px;
    
}


.green{
    background-color: #22ba45;
}